header{
  height: 5.9375rem;
  width: 100%;
  position: absolute;
  padding: 2rem 1.75rem 0.1rem 1.75rem;
  background: linear-gradient(to right, $color-gradient-1, $color-gradient-2);
  .search-content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    .search-wrap{
      position: relative;
      width: 90%;
      > input{
        width: 96%;
        height:3.625rem;
        background: rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 0.2rem;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 3rem;
      }
      input::placeholder{
        color: $color-white;
        opacity: 1;
      }
      .movie-icon{
        position: absolute;
        top: 1rem;
        left: 1rem;
        fill: $color-white;
        height:1.5625rem; 
        width:1.5625rem;
      }
    }
    .search-icon{
      color: $color-gradient-2;
      background-color: $color-white;
      width: 1.75rem;
      height: 1.75rem;
      padding: 1rem;
      border-radius: 0.2rem;
      margin-left:5px;
    }
  }
}